* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #3f4045;
  font-family: sans-serif;
  font-size: 1.6rem;
}

.img-banner {
  background-color: black;
  position: relative;
  object-fit:cover;
}

.bg-img-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000050;
}

.banner-top {
  position: relative;
  text-align: center;
  color: white;
  height: 50.0rem;
}

.img-banner-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-banner-text h1 {
  font-size: 4.8rem;
}

.img-banner-text p {
  font-size: 2.4rem;
}
.topnav {
  background-color: #fff;
  width: 100%;
  display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #adb8bd;
    border-bottom: 1px solid #adb8bd;
}

.topnav a {
  color: #30292f;
  text-align: center;
    padding: 0rem 4.0rem;
  text-decoration: none;
  font-size: 1.8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 6.0rem;
    border-left: 1px solid #adb8bd;
}

.topnav a:first-child {
  border-left: none;
}

.ic-nav-item {
  width: 2.0rem;
  height: 2.0rem;
  color: #53bdf2;
  margin-right: 0.8rem;
}

.title-banner {
  text-align: center;
  border-left: 1px solid #adb8bd;
  height: 6rem;
  width: 17rem;
  align-content: center;
  position: relative;
}

.title-banner img {
  position: absolute;
  top: -6rem;
  left: 0;
  border: 5px solid white;
  border-radius: 50%;
  width: 16rem;
  object-fit:cover;
}

.title-banner p {
  color: #adb8bd;
  display: inline;
    font-size: 1.4rem;
}

.objective {
  background-color: #f2f4f4;
  align-items: right;
}

.personal-info {
  background-color: #e9ebed;
}

.form-contact-container {
  background-color: #e9ebed;
}

.form-contact-container .container {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.content {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.content h3 {
  margin-bottom: 4rem;
  font-size: 2.8rem;
}

.personal-info .content p {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.icons-social {
  align-items: center;
  margin: 3rem 0;
}

.icons-social i {
  color: #53bdf2;
  margin-right: 0.5rem;
  font-size: 1.8rem;
  display: inline-block;
}

.work-info-item {
  border: 1px solid #5d737e;
}

.work-info-item h4 {
  align-self: center;
  font-size: 2.2rem;
}

.work-info-icon {
  width: 4rem;
  height: 4rem;
  padding: 1rem;
}

.work-info-item-content {
  grid-column: 1 / -1;
  margin-bottom: 2rem;
}

.work-info-item-content h4 {
  font-size: 2.0rem;
}

.work-info-item-content p {
  font-size: 1.5rem;
}
.date-range-text {
  padding: 1.5rem 0;
}

.date-range-text p {
  display: inline-block;
  font-size: 1.4rem;
}

.date-range-text .background-blue-text {
  display: inline-block;
}

.background-blue-text {
  background-color: #53bdf2;
  color: white;
  padding: 0.2rem 0.8rem;
  border-radius: 5rem;
  font-style: italic;
  font-size: 1.4rem;
  line-height: 2rem;
}

.background-blue-text-rounded {
  background-color: #53bdf2;
  color: white;
  padding: 0.2rem 0.8rem;
  border-radius: 12rem;
  font-style: italic;
  font-size: 1.4rem;
  line-height: 2.0rem;
}

.interest-info .work-info-item-content {
  margin-top: 1.0rem;
  display: flex;
}

.content-icon {
  margin: 0 1.0rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content-icon:first-child {
  margin-left: 0;
}

.interest-icon {
  border: 1px solid #53bdf2;
  padding: 1.0rem;
  border-radius: 50%;
  color: #53bdf2;
  height: 3.0rem;
  width: 3.0rem;
  margin-bottom: 1.4rem;
}

.content-icon p {
  font-size: 1.4rem;
}
.language-info-item {
  margin-bottom: 2.0rem;
}

.language-info-item patico {
  font-size: 1.5rem;
}
.progress-language-info-item {
  background-color: #53bdf2;
  display: inline-block;
  height: 0.2rem;
  margin-right: 0.5rem;
  width: 4.5rem;
}

.progress-language-info-item-disable {
  background-color: #adb8bd;
  display: inline-block;
  height: 0.2rem;
  margin-right: 0.5rem;
  width: 4.5rem;
}

.certificate {
  margin-top: 5.0rem;
  padding: 3.0rem 10.0rem;
  background-color: #f5f6f7;
}

.certificate-title {
  font-size: 3.0rem;
}

.certificate-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.certificate-item {
  display: grid;
  gap: 2.0rem;
  grid-template-columns: 2fr 3fr;
  border-bottom: 2px solid #d6c08d;
  padding: 2.0rem 0;
}

.certificate-item:nth-child(odd) {
  position: relative;
}

.certificate-item h4 {
  font-size: 2.0rem;
}

.certificate-item p {
  font-size: 1.5rem;
}

@media (min-width: 576px) {
.certificate-item:nth-child(even) {
  border-left: 2px solid #d6c08d;
  padding-left: 2.0rem;
}
}

.certificate-item:last-child {
  border-right: none;
}

.cert-item-img {
  width: 20rem;
  aspect-ratio:2/1;
}

.project {
  padding: 0 6rem;
}

.project-title {
  margin-top: 5.0rem;
  margin-bottom: 3.0rem;
  font-size: 3.0rem;
}

.project-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.0rem;
}

.project-item {
  border: 1px solid #adb8bd;
}

.project-item img {
  width: 100%;
}

.project-item-info i,
.project-item-info p {
  display: inline-block;
}

.project-item-content h4 {
  border-top: 1px solid #adb8bd;
  border-bottom: 1px solid #adb8bd;
  padding: 1.5rem 0.8rem;
  text-transform: uppercase;
  font-size: 2.0rem;
}

.project-item-info {
  padding: 1.5rem 0.8rem;
}

.project-item-info p {
  font-size: 1.4rem;
}
.project-item-content table {
  border-collapse: collapse;
  border: none;
}

.project-item-content th,
td {
  border: 1px solid #adb8bd;
  padding: 0.8rem;
  text-align: left;
  border-left: none;
    border-right: none;
    font-size: 1.5rem;
}

.project-item-content td:first-child {
  width: 30%;
}

footer {
  background-color: #e9ebed;
  padding: 5.0rem;
  text-align: center;
  margin-top: 3.0rem;
}

.item-footer {
  display: inline-block;
  margin-right: 2.0rem;
}

.item-footer i,
.item-footer p {
  display: inline-block;
}

.item-footer i {
  font-size: 2rem;
  background-color: #53bdf2;
  color: white;
  padding: 1rem;
  border-radius: 50%;
}


  
  .masonry-item {
    width: calc(33.33% - 1rem);
    margin-bottom: 1rem;
    box-sizing: border-box;
  }
    @media (max-width: 991px) {
    .masonry-item {
      width: calc(50% - 1rem);
        /* Two columns on tablet */
      }
      }
      
      @media (max-width: 576px) {
        .masonry-item {
          width: 100%;
      /* One column on mobile */
      }
}

.item-footer p {
  font-size: 1.4rem;
}

.work-info-item {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  position: relative;
  transition: transform 0.3s ease;
}

.work-info-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.view-more-btn {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1.4rem;
}

.work-info-item:hover .view-more-btn {
  opacity: 1;
  transform: translateY(0);
}